.music-player {
    text-align: center;
    padding: 20px;
}

.album-art {
    width: 100vh;
    height: 50vw;
    background-color: #3e0b0b;
    margin: 0 auto 20px;
}

.song-details {
    text-align: left;
}

audio {
    width: 100%;
    margin-top: 20px;
}